<div class="background-img">
<nav class="navbar navbar-top">
    <div class="container-fuild">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">TravelBuddy</a>
                <a class="nav-link"  routerLink="/login"> Login </a>
            
                <a class="nav-link" routerLink="/registration">Register</a>
              
                <a class="nav-link" routerLink="showusers"> ShowUsers </a>
                 
                
    </div>
    </div>
    </nav>
    </div>
<!--<div class="collapse navbar-collapse"></div>-->