div {
    
    color: red;
   padding-top: 3%;

   
  }

  .background-img {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("https://hips.hearstapps.com/hmg-prod/images/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg?crop=1xw:0.84276xh;center,top");
    background-size: cover;
    border-radius:0px;
}